
#container{
    box-sizing: border-box;
    position: relative;
}

#container .mySlides{
    display: none;
}

#container .cursor{
    cursor: pointer;
}

#container .prev, .next{
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

#container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

#container .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#container .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

#container .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

#container .row:after {
    content: "";
    display: table;
    clear: both;
}

#container .column {
    float: left;
    width: 16.66%;
}

#container .demo {
    opacity: 0.6;
}

#container .active,
.demo:hover {
  opacity: 1;
}